<footer class="footer">
    <div class="container text-center">
        <div class="footer-logo mb-3 text-uppercase">The Road Library</div>
        <p class="mb-1 fw-bold" style="font-size: 0.9rem;">도로 위의 숨은 위험을 읽는 AI 솔루션, 도(道)서관</p>

        <div class="footer-text">
            <p>© 2026 Road Library Project. All rights reserved.</p>
            <p>Tech Stack: YOLOv11, Python, MySQL, Bootstrap</p>

            <a href="http://192.168.0.175:1210/faq" class="footer-faq-link">
                자주 묻는 질문 (FAQ) 바로가기
            </a>
        </div>
    </div>
</footer>